In [ ]:
!pip install evaluate jiwer

In [4]:
import pandas as pd 

df = pd.read_csv("processed_test.csv")

In [5]:
df.head()

,file_name,uni,wylie,url,dept,grade,char_len,audio_len,__index_level_0__,inference_ft,inference_base_model
0,STT_TT_D009_1178_3206938_to_3210062,དེ། བྱང་ཆུབ་སེམས་དཔའི་སྤྱོད་པ་རང་ཤུགས་ཀྱིས་རེད...,de/_byang chub sems dpa'i spyod pa rang shugs ...,https://d38pmlk0v88drf.cloudfront.net/wav16k/S...,STT_TT,1,75,3.12,7442,དེ་ནས། བྱང་ཆུབ་སེམས་དཔའི་སྤྱོད་པ་རང་ཤུགས་ཀྱིས་...,དེ་གཞོང་ཆི་ཟེར་ནས་སྤྱོད་པ་རང་ཤུགས་ཀི་རེད་དེ་ཟེ...
1,STT_TT_D011_0237_888370_to_896030,དྲུག་པོ་དེ་གང་རེད་ཟེར་ན། རང་གི་གདམས་ངག་དེ་སངས་...,drug po de gang red zer na/_rang gi gdams ngag...,https://d38pmlk0v88drf.cloudfront.net/wav16k/S...,STT_TT,1,73,7.66,9462,ད་ཚིག་དི་གང་གེད་ཟེར་ན། དེ་རང་གི་དོན་ངག་དེ་ལ་ཐི...,འོང་དུ་ྱོན་ནས། དེ་འོང་གི་གམ་ན་དེ་རེད་། ཧཧ བུ་མ...
2,STT_TT_D006_0469_1930611_to_1934366,ཞི་རྒྱས་དབང་དྲག་གི་འཕྲིན་ལས་ཤུགས་ཀྱིས་འགྲུབ་མ་...,zhi rgyas dbang drag gi 'phrin las shugs kyis ...,https://d38pmlk0v88drf.cloudfront.net/wav16k/S...,STT_TT,1,74,3.75,4048,ཞི་རྒྱས་དབང་དྲག་གིས་ཕྲིན་ལས་ཤུགས་ཀྱི་འགྲུབ་མ་ག...,བྱེད་རྒྱུའ་དབུང་རབ་ཀི་ཕྲིན་གླེང་ཤུགས་ྱི་འགྲོ་བ...
3,STT_TT_D011_0545_2053199_to_2057540,ལྟོ་གོས་ལ་སོགས་པ་རྙེད་ནའང་ཚོགས་ཀྱི་འཁོར་ལོ་འགྱ...,lto gos la sogs pa rnyed na'ang tshogs kyi 'kh...,https://d38pmlk0v88drf.cloudfront.net/wav16k/S...,STT_TT,1,78,4.34,9770,ལྟོ་གུས་ལ་སོགས་པ་རྙད་ནའང་ཆིག་ྱང་ཁོན་དུ་དགེ་བང་...,ཨོ་ཁུའ་ལ་ྲེད་ད་དེ་དའ་ནང་ཕྱུས་ཀི་ཕོག་དེ་སྐྱེས་པ...
4,STT_TT_D007_0025_107628_to_109458,ཆོས་རྣམ་པར་དག་པ་བསྒྲུབ་རྒྱུ་རེད།,chos rnam par dag pa bsgrub rgyu red/__,https://d38pmlk0v88drf.cloudfront.net/wav16k/S...,STT_TT,1,34,1.83,4281,ཆོས་རྣམ་པར་དག་པ་སྒྲུབ་རྒྱུ་རེདས།,ཆོས་སྣོམ་པ་རྟོགས་ཕར་འགྲུ་ྒྱི་རེད།

In [6]:
df.columns

Index(['file_name', 'uni', 'wylie', 'url', 'dept', 'grade', 'char_len',
       'audio_len', '__index_level_0__', 'inference_ft',
       'inference_base_model'],
      dtype='object')

In [7]:
from evaluate import load

cer_metric = load("cer")

In [8]:
rand_index = 5
print(df.loc[rand_index, 'uni'])
print(df.loc[rand_index, 'inference_ft'])
cer = cer_metric.compute(references=[df.loc[rand_index, 'uni']], predictions=[df.loc[rand_index, 'inference_ft']])

print(cer)

དེ་ཆགས་སྡང་གི་གྲོགས་སུ་མི་སོང་བ་སྒྱུ་མ་དང་རྨི་ལམ་ལྟ་བུའི་རང་བཞིན་དུ་ཤེས་པ་ཡིན།
དེ་ཆགས་སྡང་གི་གྲོགས་སུ་མ་སཏོང་བ་སྒྱུ་མ་དང་རྨི་ལམ་ལྟ་བུའི་རང་བཞིན་དུ་ཤེས་པ་ཡིན།
0.02564102564102564

In [9]:
def calculate_cer_ft(row):
    try:
        uni = row['uni']
        inf_uni = row['inference_ft']
        cer = cer_metric.compute(references=[uni], predictions=[inf_uni])
        cer = min(cer, 1.0)
        return cer
    except:
        return 0.0

In [10]:
def calculate_cer_base(row):
    try:
        uni = row['uni']
        inf_uni = row['inference_base_model']
        cer = cer_metric.compute(references=[uni], predictions=[inf_uni])
        cer = min(cer, 1.0)
        return cer
    except:
        return 0.0

In [11]:
df['cer_ft'] = df.apply(lambda row: calculate_cer_ft(row), axis=1)

In [12]:
df['cer_base'] = df.apply(lambda row: calculate_cer_base(row), axis=1)

In [13]:
print(df['cer_ft'].mean())

0.2043059735667396

In [14]:
print(df['cer_base'].mean())

0.4753837757987753

In [15]:
df[['dept', 'cer_ft']].groupby('dept').mean('cer_ft')

          cer_ft
dept
STT_TT  0.204306

In [16]:
df[['dept', 'cer_base']].groupby('dept').mean('cer_base')

        cer_base
dept
STT_TT  0.475384

In [17]:
df.groupby('dept').agg(mean_cer=('cer_ft', 'mean'), count=('cer_ft', 'size'))

        mean_cer  count
dept
STT_TT  0.204306   1165

In [18]:
df.groupby('dept').agg(mean_cer=('cer_base', 'mean'), count=('cer_base', 'size'))

        mean_cer  count
dept
STT_TT  0.475384   1165